.navBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: grey;
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
}