.navBar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 1rem;
  background-color: rgb(75, 75, 75);
  align-items: center;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li a {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

.navLinks li a:hover {
  outline: 2px solid orange;
}

h1 {
  font-size: 2rem;
  color: white;
}

.active {
  background-color: orange;
}
